link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap", rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@500;700&display=swap", rel="stylesheet")
link(rel="stylesheet" href=`${css_path}/plugins.css`)
link(rel="stylesheet" href=`${css_path}/style.css`)