//- global letiables
- let trans = {'website_title': 'Top Agency', 'home': 'home', 'about_us': 'about us', 'tours': 'tours', 'single_tour': 'single tour', 'contact_us': 'contact us', 'lorem_text': 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora atque aspernatur aliquid quas eum aperiam ullam', 'country': 'country', 'english': 'english', 'usd': 'usd', 'action': 'action', 'login': 'login', 'register': 'register', 'name': 'name', 'email': 'email', 'phone': 'phone', 'message': 'message', 'please_fill': 'Please fill these fields.', 'send_message': 'send message', 'results_found': 'results found', 'find_your_tours': 'find your tours', 'Where_do_you_want_to_go': 'Where do you want to go?', 'check_in': 'check in', 'check_out': 'check out', 'search_now': 'search now', 'price': 'price', 'rating': 'rating', 'tour_type': 'tour type', 'sort_by': 'sort by', 'please_select_element': 'please select element', 'off': 'off', 'sale': 'sale', 'book_now': 'book now', 'read_more': 'more about us', 'add_to_list': 'add to list', 'sale_here': 'sale here', 'option_text': 'option text', 'tour_overview': 'tour overview', 'day': 'day', 'book_now': 'book now', 'adult': 'adult','child': 'child', 'first_name': 'first name', 'last_name': 'last name', 'address': 'address', 'register_now': 'register now', 'have_an_account': 'have an account?', 'login_now': 'login now', 'remember_me': 'remember me', 'dont_have_an_account': 'Don\'t have an account?', 'create_account': 'create account', 'forget_password': 'forget password?', 'email_error': 'email error', 'send_now': 'send now', 'contact_info': 'contact info', 'know_more': 'know more', 'hotels': 'hotels','password': 'password', 'confirm_password': 'confirm password', 'lang': 'language', 'links': 'links', 'copyrights': 'all copyright is reseved &copy; 2022', 'marwan_tech': 'marwan tech', 'error_page': 'error_page', 'error_404': 'Sorry We Can`t Find That Page!'}

- let img_path = 'images'
- let css_path = 'css'
- let js_path = 'js'
- let data = {'phone_number': '+201098563744', 'email': 'info@topagencytravel.com', 'address': 'AreaRiyadh, Kingdom of Saudi Arabia'}

//- single tour box data
- let single_tour_box = {"title": "cairo city", "duration": "3 days 2 nights", "description": trans.lorem_text}

//- slider data
- let slider = {"title": "top agency travel", "description": "the world you have never seen", "btnText": "go explore now"}

//- about data
- let about = {"title": "top agency travel", "description": trans.lorem_text, "about_more": "more about us"}

- let about_list = ['First Class Flights','5 Star Accommodations','Inclusive Packages','Latest Model Vehicles','Handpicked Hotels','Accesibility managment','10 Languages available','+120 Premium city tours']

//- call to action data
- let cta_list = ['explore','dream','discover']
- let cta = {"title": "Epic Journeys From The Explooer", "description": trans.lorem_text}

//- awesome tours data
- let awesome_tours = {"main_title": "awesome tours"}

//- awesome hotels data
- let awesome_hotels = {"main_title": "awesome hotels"}

//- video data
- let video = {"main_title": "go explore", "description": trans.lorem_text}

//- testimonials data
- let testimonials = {"main_title": "happy traveler", "description": trans.lorem_text, "opinions": {"name": "ahmed mohamed", "countery": "egypt, cairo", "description": trans.lorem_text}}

//- contact us data
- let contact = {"main_title": "contact us", "description": "Please, fill in the following fields"}

//- global text
- let message_sent_successfully = "message sent successfully"
- let message_error = "error message"

//- tours types 
- let tours_types = ["Ecotourism", "El Gouan", "El Sokhna", "Escorted Tour", "Hosted tours", "Hurghada"]