section(class="partners")
	div(class="container")
		div(class="content")
			- for (let item = 0; item < 9; item++)
				div(class="item")
					img(data-src=`${img_path}/partners/0${item + 1}.png` class="img-fluid" alt="image")