extend index

block website_title
	title #{trans.website_title} | request quote

block home_block
	//breadcrumb
	div(class="breadcrumb-area" style="background-image: url('images/bgs/breadcrumb_bg.jpg')")
		div(class="container")
			nav(aria-label="breadcrumb")
				ol(class="breadcrumb")
					li(class="breadcrumb-item")
						a(href="index.html") Home
					li(class="breadcrumb-item active" aria-current="page") request quote
	//breadcrumb

	//request quote
	section(class="request-quote")
		div(class="container")
			div(class="main-title")
				h2 send your request
				p Please fill fields bellow
			div(class="quote-form")
				form(action="") 
					div(class="row")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="First Name")
								div(class="invalid-feedback") Please select a valid state.
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="Last Name")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="email" class="form-control" placeholder="E-mail")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="Company")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="Address")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="City")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="ZIP")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="Telephone (include country code)")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="Number Of Pieces")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="Total Weight (LBS)")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="Height (inches)")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="Width (inches)")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="Depth (inches)")
						div(class="col-lg-6")
							div(class="form-group")
								input(type="text" class="form-control" placeholder="Commodity")
						div(class="col-lg-12")
							div(class="form-group")
								textarea(class="form-control" rows="5" placeholder="Message Subject")
						div(class="col-12")
							div(class="form-group")
								button(class="btn form-btn" type="submit") submit now
	//request quote