extend index

block website_title
	title #{trans.website_title} | #{trans.single_tour}

block home_block
	//breadcrumb
	+breadcrumb(trans.single_tour)
	//breadcrumb

	//single tour
	include ../components/single-tour.pug
	//single tour